@mixin gold-gradient {
  background: linear-gradient(45deg, #a45b07 0%, #cbc893 35%, #a45b07 100%);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@mixin card-container {
  color: $cream;
  padding: 20px;
  display: grid;
  justify-content: space-around;
  grid-template-rows: auto;
  grid-template-columns: 30% 30% 30%;
  grid-row-gap: 50px;
}

@mixin cream-button {
  background-color: $cream;
  color: black;
  font-family: $Marcellus;
  font-size: 2vh;
  border-radius: 7px;
  box-shadow: 0px 14px 29px -1px rgba(0, 0, 0, 0.65);
  border: none;
  padding: 2%;
}

@mixin button-hover {
  cursor: pointer;
  opacity: 0.7;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
}

@mixin flex-space-around {
  display: flex;
  justify-content: space-around;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin single-img-mobile {
  width: 90vw;
  height: 40vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin single-container-mobile {
  margin-top: 2vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

@mixin single-container-mobile {
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
}

@mixin single-info-mobile {
  margin-top: 2vh;
  width: 90vw;
  height: 80vh;
  background-color: $cream-opacity;
  box-shadow: inset 0 0 10px #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 3vh;
}

@mixin single-details-mobile {
  z-index: 1;
  width: 90vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 0.8em;
  margin-bottom: 2vh;
}

//~~~~~~~~~ keyframes ~~~~~~~~~~~

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
