@import "./_variables";
@import "./_mixins";


//~~~~~~~Mobile~~~~~~~
@media only screen and (max-width: 991px) {
  .all-sightings-container {
    @include flex-column;
  }

  .search-container {
      display: flex;
      margin: 2%;
      width: 100%;
      justify-content: space-around;
  }

  .sightings-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 0 5vw;
  }

}

//~~~~~~~computer~~~~~~~
@media only screen and (min-width: 992px) {
  .all-sightings-container {
    @include card-container;
  }

  .sightings-header {
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
  }

  .search-container {
    display: flex;
    justify-content: space-around;
    margin: 2%;
    width: 40%;
  }

  .cryptid-button {
    @include cream-button;
    width: 12vw;
    box-sizing: border-box;
    height: 4vh;
  }
}


.cryptid-button:hover {
  @include button-hover;
}

.zipcode-input {
  background-color: $cream;
  color: black;
  border-radius: 7px;
  box-shadow: 0px 14px 29px -1px rgba(0, 0, 0, 0.65);
  border: none;
  padding: 7%;
  box-sizing: border-box;
  height: 4vh;
}

.sightings-text {
  color: $cream;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  width: 12vw;
  margin-top: .5%;
}

.dropdown-button {
  @include cream-button;
  border-radius: 0;
}

.dropdown-button:hover {
  @include button-hover;
}
