@import './_variables';
@import './_mixins';

.error-modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: space-between;
}

.modal-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: $cream;
  border-radius: 7px;
  margin: auto;
  padding: 25px;
  width: 50%;
  overflow-y: auto;
  bottom: 50px;
  text-align: center;
  font-size: 32px;
}

.error-button {
  @include gold-gradient;
  border-radius: 5px;
  color: $cream;
  font-size: 3vh;
  text-shadow: 0px 1px 4px rgba(53, 53, 59, 1);
  padding: 0.5vh 2vw;
  border: none;
  box-shadow: 0px 2px 9px -1px rgba(0, 0, 0, 0.4);
}

.error-button {
  @include button-hover();
}
