@import './_variables';
@import './_mixins';

.temp-photo {
  width: 80%;
}

.card-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-message-container {
  color: $cream;
}

.home-card-container {
  @include card-container;
}
