@import "./_variables";
@import "./_mixins";

.temp-photo {
  width: 80%;
}

.card-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-message-container {
  color: $cream;
  width: 100vw;
  display: flex;
  justify-content: center;
  font-size: 3.5vh;
}

.home-message {
  margin: 8vh 5vw;
  text-align: center;
}

.home-card-container {
  @include card-container;
}
