@import './_variables';
@import './_mixins';

//~~~~~~~Mobile~~~~~~~
@media only screen and (max-width: 991px) {
  .eyes-container {
    opacity: .8;
    position: absolute;
    left: 50%;
    top: 40%;
  }

  .left-eye {
    position: absolute;
    left: 40%;
    top: 20%;
    background-color: $cream;
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    animation: blink 5s infinite;
  }

  .left-pupil {
    position: absolute;
    left: 40%;
    top: 19%;
    z-index: 1;
    background-color: #726b6b;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    animation: left-pupil 2s linear infinite;
  }

  .right-eye {
    position: absolute;
    right: 40%;
    top: 20%;
    background-color: $cream;
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    animation-delay: 3s;
    animation: blink 6s infinite;
  }

  .right-pupil {
    position: absolute;
    left: 40%;
    top: 19%;
    z-index: 1;
    background-color: #726b6b;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    animation: left-pupil 2s linear infinite;
  }
}

//~~~~~~~computer~~~~~~~
@media only screen and (min-width: 992px) {

  .eyes-container {
    opacity: .8;
    position: absolute;
    left: 50%;
    top: 40%;
  }

  .left-eye {
    position: absolute;
    left: 40%;
    top: 20%;
    background-color: $cream;
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    animation: blink 5s infinite;
  }

  .left-pupil {
    position: absolute;
    left: 40%;
    top: 19%;
    z-index: 1;
    background-color: #726b6b;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    animation: left-pupil 2s linear infinite;
  }

  .right-eye {
    position: absolute;
    right: 40%;
    top: 20%;
    background-color: $cream;
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    animation-delay: 3s;
    animation: blink 6s infinite;
  }

  .right-pupil {
    position: absolute;
    left: 40%;
    top: 19%;
    z-index: 1;
    background-color: #726b6b;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    animation: left-pupil 2s linear infinite;
  }


}

.loading-text {
  color: $cream;
  font-size: 4vw;
  animation: loader 2s linear infinite
}

.loading {
  margin-top: 35vh;
  display: flex;
  justify-content: center;
}


///~~~~~~~keyframes~~~~~~~~~

@keyframes blink{
    0%,
    100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}


@keyframes loader {
	0% {
		opacity: 0.15;
	}
	5% {
		opacity: 0.2;
	}
	10% {
		opacity: 0.12;
	}
	15% {
		opacity: 0.2;
	}
	25% {
		opacity: 0.15;
	}
	30% {
		opacity: 0.4;
	}
	35% {
		opacity: 0.05;
	}
	40% {
		opacity: 0.5;
	}
	45% {
		opacity: 0.15;
	}
	60% {
		opacity: 0.3;
	}
	70% {
		opacity: 0.2;
	}
	80% {
		opacity: 0.3;
	}
	90% {
		opacity: 0.5;
	}
	100% {
		opacity: 0.8;
	}
}

@keyframes left-pupil {
	0% {
    transform: rotate(0deg);
    transform-origin: top right;
    }
	25% {
    transform: rotate(-25deg);
    transform-origin: top right;
    }
	50% {
    transform: rotate(0deg);
    transform-origin: top right;
	}
	75% {
    transform: rotate(20deg);
    transform-origin: top right;
    }
	100% {
    transform: rotate(0deg);
    transform-origin: top right;
    }
}
@keyframes right-pupil {
    0% {
    transform: rotate(0deg);
    transform-origin: top left;
    }
	25% {
    transform: rotate(30deg);
    transform-origin: top left;
    }
    50% {
    transform: rotate(0deg);
    transform-origin: top left;
    }
	75% {
    transform: rotate(-15deg);
    transform-origin: top left;
    }
	100% {
    transform: rotate(0deg);
    transform-origin: top left;
    }
}
