//~~~~~~~~~~big-crawler~~~~~~~~~~~
.crawlers-container {
  z-index: -1;
}

//~~~~~~~Mobile~~~~~~~
@media only screen and (max-width: 991px) {

}

//~~~~~~~computer~~~~~~~
@media only screen and (min-width: 992px) {

}

.walking-container {
  position:fixed;
	width: 20%;
	padding-bottom: 30%;
	vertical-align: middle;
	overflow: hidden;
  animation: stroll 30s linear infinite;
  opacity: 50%;
}

.head {
  position: absolute;
  top: 3%;
  left: 45%;
  height: 4.5vh;
  filter: blur(.25rem);
  animation: head 2s linear infinite;
}

.leg-one {
  position: absolute;
  height: 20vh;
  top: 19%;
  left: 39%;
  filter: blur(.25rem);
  animation: leg1 2s linear infinite;
}

.leg-two {
  position: absolute;
  height: 20vh;
  top: 19%;
  left: 45%;
  ;filter: blur(.25rem);
  animation: leg2 2s linear infinite;
}

.night-crawler {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 40%;
}

//~~~~~~~~~~crawler-keyframes~~~~~~~~~~~

@keyframes stroll {
  from { transform: translateX(-100%); }
  to { transform: translateX(500%); }
}

@keyframes slide-right {
  0% {
    transform:translateX(100%);
    opacity: 1;
  }
  100% {
    transform:translateX(-50%);
    opacity: .5;
  }
}

@keyframes leg1 {
	0% {
    transform: rotate(0deg);
    transform-origin: top right;
    }
	25% {
    transform: rotate(-25deg);
    transform-origin: top right;
    }
	50% {
    transform: rotate(0deg);
    transform-origin: top right;
	}
	75% {
    transform: rotate(20deg);
    transform-origin: top right;
    }
	100% {
    transform: rotate(0deg);
    transform-origin: top right;
    }
}
@keyframes leg2 {
    0% {
    transform: rotate(0deg);
    transform-origin: top left;
    }
	25% {
    transform: rotate(30deg);
    transform-origin: top left;
    }
    50% {
    transform: rotate(0deg);
    transform-origin: top left;
    }
	75% {
    transform: rotate(-15deg);
    transform-origin: top left;
    }
	100% {
    transform: rotate(0deg);
    transform-origin: top left;
    }
}

@keyframes head {
  0% {
    transform: rotate(0deg);
    }
  25% {
    transform: rotate(15deg);
    }
  50% {
    transform: rotate(0deg);
    }
	75% {
    transform: rotate(-15deg);
    }
	100% {
    transform: rotate(0deg);
    }
}

//~~~~~~little-nightcrawler~~~~~~~

.little-walking-container {
  position:fixed;
	width: 20%;
	padding-bottom: 30%;
	vertical-align: middle;
	overflow: hidden;
  animation-delay: 3s;
  animation: little-stroll 30s linear infinite;
  opacity: 50%;
}

.little-head {
  position: absolute;
  bottom: 44%;
  left: 43%;
  height: 4.5vh;
  filter: blur(.25rem);
  animation-delay: 3s;
  animation: little-head 2s linear infinite;
}

.little-leg-one {
  position: absolute;
  height: 10vh;
  bottom: 3%;
  left: 39%;
  filter: blur(.25rem);
  animation-delay: 3s;
  animation: little-leg-one 1.5s linear infinite;
}

.little-leg-two {
  position: absolute;
  height: 10vh;
  bottom: 3%;
  left: 45%;
  ;filter: blur(.25rem);
  animation-delay: 3s;
  animation: little-leg-two 1.5s linear infinite;
}

.little-night-crawler {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 40%;
}

//~~~~~~~~~~little-crawler-keyframes~~~~~~~~~~~

@keyframes little-stroll {
  from { transform: translateX(-250%); }
  to { transform: translateX(500%); }
}

@keyframes little-leg-one {
	0% {
    transform: rotate(0deg);
    transform-origin: top right;
    }
	25% {
    transform: rotate(-35deg);
    transform-origin: top right;
    }
	50% {
    transform: rotate(0deg);
    transform-origin: top right;
	}
	75% {
    transform: rotate(20deg);
    transform-origin: top right;
    }
	100% {
    transform: rotate(0deg);
    transform-origin: top right;
    }
}
@keyframes little-leg-two {
    0% {
    transform: rotate(0deg);
    transform-origin: top left;
    }
	25% {
    transform: rotate(40deg);
    transform-origin: top left;
    }
    50% {
    transform: rotate(0deg);
    transform-origin: top left;
    }
	75% {
    transform: rotate(-20deg);
    transform-origin: top left;
    }
	100% {
    transform: rotate(0deg);
    transform-origin: top left;
    }
}

@keyframes little-head {
  0% {
    transform: rotate(0deg);
    }
  25% {
    transform: rotate(30deg);
    }
  50% {
    transform: rotate(0deg);
    }
	75% {
    transform: rotate(-15deg);
    }
	100% {
    transform: rotate(0deg);
    }
}
