@import './_variables';
@import './_mixins';

.single-cryptid-container {
  margin-top: 5vh;
  display: flex;
  justify-content: space-around;
  height: 80vh;
}

.cryptid-img-container{
  @include gold-gradient
  width: 40vw;
  height: 80vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp-photo {
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 10px;
}

.cryptid-info-container {
  width: 40vw;
  height: 80vh;
  background-color: $cream-opacity;
  box-shadow:  inset 0 0 10px #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
