@import "./_variables";
@import "./_mixins";

//~~~~~~~Mobile~~~~~~~
@media only screen and (max-width: 991px) {
  .all-sightings-container {
    display: flex;
    flex-direction: column;
    
  }

  .sightings-header {
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
  }
}

//~~~~~~~computer~~~~~~~
@media only screen and (min-width: 992px) {
  .all-sightings-container {
    @include card-container;
  }

  .sightings-header {
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
  }
}


.sightings-text {
  color: $cream;
}
