@import './_variables';
@import './_mixins';

.single-sighting-container {
  margin-top: 5vh;
  display: flex;
  justify-content: space-around;
  height: 80vh;
}

.sighting-img-container{
  @include gold-gradient;
  width: 40vw;
  height: 80vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sighting-photo {
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 10px;
}

.cryptid-button-sightings:hover {
  @include button-hover;
}

.sighting-name-box {
  @include gold-gradient;
  border-radius: 4px;
  position: absolute;
  bottom: 3%;
  color: $cream;
  font-size: 5vh;
  padding: 1vw 4vw;
  box-shadow: 0px 2px 9px -1px rgba(0,0,0,.4);
  text-shadow: 0px 1px 4px rgba(53,53,59,1);
}

.sighting-name-text {
  margin: 0;
}

.sighting-info-container{
  width: 40vw;
  height: 80vh;
  background-color: $cream-opacity;
  box-shadow:  inset 0 0 10px #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 3vh;
}

.sighting-details {
  z-index: 1;
  width: 40vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: .8em;
  margin-bottom: 2vh;
}

.sighting-title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 5vh;
  margin-bottom: 0;
  text-align: center;
  padding-right: 2vw;
  padding-left: 2vw;
}

.sighting-description {
  margin: 0 12%;
  text-align: center;
  overflow-y: scroll;
  max-height: 25vh;
  padding: 2%;
}

.trails-container {
  width: 35vw;
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
  overflow-x: scroll;
}

.near-text {
  font-weight: bolder;
  font-size: larger;
  margin-bottom: 0;
}

.trail-link-box {
  @include gold-gradient;
  border-radius: 4px;
  color: $cream;
  margin: 2%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1% 3%;
  box-shadow: 0px 2px 9px -1px rgba(0,0,0,.4);
  text-shadow: 0px 1px 4px rgba(53,53,59,1);

  &:hover {
    cursor: pointer;
     transform: scale(1.2);
  }
}

.trail-links {
  margin-bottom: 1.5vh;
  text-decoration: none;
  color: $cream;
  margin-top: .5vh;
}


.arrow{
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 5px solid $cream;
    border-right: 5px solid $cream;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-5px,-5px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(5px,5px);
    }
}
