@import './_variables';
@import './_mixins';

.single-sighting-container {
  margin-top: 5vh;
  display: flex;
  justify-content: space-around;
  height: 80vh;
}

.sighting-img-container{
  @include gold-gradient;
  width: 40vw;
  height: 80vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sighting-photo {
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 10px;
}

.cryptid-button-sightings:hover {
  @include button-hover;
}

.sighting-name-box {
  @include gold-gradient;
  border-radius: 4px;
  position: absolute;
  bottom: 3%;
  color: $cream;
  font-size: 5vh;
  padding: 1vw 4vw;
  box-shadow: 0px 2px 9px -1px rgba(0,0,0,.4);
  text-shadow: 0px 1px 4px rgba(53,53,59,1);
}

.sighting-name-text {
  margin: 0;
}

.sighting-info-container{
  width: 40vw;
  height: 80vh;
  background-color: $cream-opacity;
  box-shadow:  inset 0 0 10px #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 3vh;
}

.sighting-details {
  z-index: 1;
  width: 40vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: .8em;
  margin-bottom: 2vh;
}

.sighting-title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 5vh;
  margin-bottom: 0;
  text-align: center;
  padding-right: 2vw;
  padding-left: 2vw;
}

.sighting-description {
  margin: 0 15%;
  text-align: center;
  overflow-y: scroll;
  max-height: 25vh;
  //border: 1px solid $green;
  // border-radius: 3%;
  padding: 2%;
}

.sighting-description::-webkit-scrollbar {
    -webkit-appearance: none;
}
.sighting-description::-webkit-scrollbar:vertical {
    width: 1vw;
}

.sighting-description::-webkit-scrollbar:horizontal {
    height: .5vh;
}

.sighting-description::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid $green; /* should match background, can't be transparent */
    background-color: $cream;
}

.trails-container {
  width: 35vw;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vh;
}
.near-text {
  font-weight: bolder;
  font-size: larger;
}

.trail-links {
  margin-bottom: 1.5vh;
  text-decoration: none;
  color: #000000;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

