@import './Styles/_mixins.scss';
@import './Styles/_variables.scss';

body {
  margin: 0;
  font-family: $Nova;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
