// ~~~~~~~~~ Colors ~~~~~~~~~~

$brown: rgba(57, 28, 2, 1) ;
$green: rgba(40, 54, 24, 1) ;
$cream: rgba(254, 250, 224, 1);
$cream-opacity: rgba(254, 250, 224, .8);

// ~~~~~~~~~ Fonts ~~~~~~~~~~

$Marcellus: 'Marcellus SC', serif;
$Nova: 'Nova Cut', cursive;
